#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_colognecoin
#build/colognecoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_colognecoin)

DEB_INSTALL_EXAMPLES_colognecoind += debian/examples/*
DEB_INSTALL_MANPAGES_colognecoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix colognecoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f colognecoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake colognecoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_colognecoin
	src/test_colognecoin

# Ensure wrapper is set executable
binary-post-install/colognecoind:
	chmod +x $(cdbs_curdestdir)usr/bin/colognecoind
binary-post-install/colognecoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/colognecoin-qt
